<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Practice Vue.js</title>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="index.js" defer></script>

    <style>
      .ecoFriendly {
        color: green;
        transition: color 1s ease;
      }
    </style>

  </head>
  <body>
    <div id="app">
      <p>{{ message }}</p>
      <p>{{ todos }}</p>
      <button v-on:click="loadTodos()">Get Data</button>
      <button v-on:click="changeMessage()">Click Here</button>

      <hr>

      <p>Here is the message<input type="text" v-model="message"></p>

      <hr>

      <!-- v-if -->
      <p v-if="showInfo">This is a secret message</p>
      <button v-on:click="toggleInfo()">Turn off/on</button>

      <!-- <h1 v-bind:c;ass="{ecoFriendly: isEcoFriendly">Hello from HTML!</h1> -->

      <p>Enter a new fruit here: <input type="text" v-model="newFruit"><button v-on:click="addFruit()">Click to Add</button></p>
      <div v-for="fruit in fruits">
        <p>{{ fruit }}</p>
      </div>



    </div>
  </body>
</html>